body {
    background-color: #9a3e34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

/* recipes page */
.searchResults {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe {
    width: 100%;
    max-width: 300px;
    border: solid 3px white;
    text-align: center;
}

.recipe img {
    max-width: 100%;
    height: auto;
}

/* ingredients page */
.container {
    display: flex;
    padding: 20px;
}

.ingredients {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 80px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    border: solid 3px white;
    text-align: center;
}
